*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 2px solid red; */
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(219, 219, 239);
  width: 100%;
  scroll-behavior: smooth !important;
} 
/* body.light {
  background-color: white;
  color: black;
}
body.dark {
  background-color: #121212;
  color: white;
} */


