.nav{
    background-color: white;
    height:10vh;
    width: 100%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0vh;
    left: 0;
    z-index: 500;
}
.menu{
    display: flex;
    height: 9vh;
    margin-top:3px;
    margin-left:3px;
    width:17vw;
    gap:8px;
}
.menu img{
    margin-top:10px;
}
.menu label{
    margin-top:10px;
    font-size: 1.7rem;
    font-family:'Times New Roman', Times, serif;
    color: rgb(100, 30, 167);
}
.firstimg{
    border-radius: 50%;
}
.middlesection{
    height:9vh;
    width:46vw;
    margin-top:3px;
    display: flex;
    gap:20px;
    margin-left:155px;
}
.middlesection label{
    font-family:'Times New Roman', Times, serif;
    margin-left:20px;
    margin-top:15px;
    font-size: 1.2rem;
    color:black;
    text-decoration:none;
}
.link{
    text-decoration: none;
    color:black;
}
.link:hover{
    color: navy;
}
.button{
    height:9vh;
    width:16vw;
    margin-top:3px;
    margin-left: 110px;
}
.click{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left:100px;
    margin-top: 6px;
    color: white;
    font-size:1rem;
    background-color: navy;
    height:7vh;
    width:6vw;
    border-radius:10px;
    border: none;
}
.click:hover{
    background-color:rgb(126, 126, 233);
    cursor: pointer;
}