.form{
    background-color: yellow;
    width: auto;
    height:100vh;
}
.text{
    margin:350px;
}
.div{
    width:100vw;
    height: 20vh;
}
.button{
    background-color: blue;
    height:10vh;
    width:7vw;
}
.class{
    color:white;
}